!!!
%head
  %body
    %h1
      = @title
    
    %tr
      %td a
      %td b
    
    %ul
      %li w
      %li e
      %li r
      
    %video
      %source{:src=>"sample.ogv" ,:type=>"video/ogg"}
      %source{:src=>"sample.mp4", :type=>'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
      %p動画を再生するにはvideoタグをサポートしたブラウザが必要です
<svg xml:space="default" width="1920" height="1080">
<path fill="none" stroke="#000000" stroke-width="2" d="M 852.909,609.852 852.875,610.653 852.590,617.404 853.348,620.162" />
<path fill="none" stroke="#000000" stroke-width="2" d="M 769.710,607.278 775.613,597.369 775.688,597.123" />
<path fill="none" stroke="#000000" stroke-width="21" d="M 702.856,558.189 702.682,556.487" />
<path fill="none" stroke="#000000" stroke-width="8" d="M 904.401,625.206 900.991,628.107 888.285,637.828 873.862,646.430" />
<path fill="none" stroke="#000000" stroke-width="2" d="M 989.542,560.092 983.648,569.377 970.893,588.178 969.858,589.703 969.752,589.858 959.055,605.627 958.463,605.738 958.294,605.769 952.956,606.770 951.614,610.819" />
<path fill="none" stroke="#000000" stroke-width="2" d="M 1059.149,581.525 1051.665,594.781 1045.819,606.378" />
<path fill="none" stroke="#000000" stroke-width="2" d="M 637.331,533.680 635.585,515.814 634.451,506.062" />
<path fill="none" stroke="#000000" stroke-width="21" d="M 1014.572,616.213 1011.596,615.174 1015.165,615.608" />
<path fill="none" stroke="#000000" stroke-width="8" d="M 1003.189,631.264 1008.992,632.526 1009.423,632.581" />
<path fill="none" stroke="#000000" stroke-width="2" d="M 743.640,486.684 734.565,503.498 737.148,520.574 752.873,530.591 770.209,525.725 780.718,510.732 776.676,491.677 762.172,481.835 743.640,486.684" />
<path fill="none" stroke="#000000" stroke-width="2" d="M 906.083,550.371 915.101,535.270 912.331,516.297 895.591,505.230 877.657,509.402 866.915,525.900 871.337,543.560 886.570,554.196 906.083,550.371" />
<path fill="none" stroke="#000000" stroke-width="2" d="M 767.785,607.924 762.125,617.304 761.212,618.818 746.201,640.204 729.698,687.327 720.840,723.765 726.375,735.405 752.457,744.804 785.057,753.862 819.843,757.045 849.061,757.678 858.168,748.662 861.440,711.092 863.065,661.146 860.632,650.357 857.394,635.998 855.180,623.509" />
<path fill="none" stroke="#000000" stroke-width="2" d="M 823.982,620.332 832.815,612.495 831.961,594.037 818.862,590.171 811.646,592.433" />
<path fill="none" stroke="#000000" stroke-width="2" d="M 811.646,592.433 804.010,587.532 790.371,586.645 782.202,603.478 788.294,613.966 790.065,617.728 784.729,604.419 792.133,590.495 811.646,592.433" />
<path fill="none" stroke="#000000" stroke-width="8" d="M 782.314,402.917 776.541,405.746 773.242,407.362 739.081,433.061 704.861,451.087" />
<path fill="none" stroke="#000000" stroke-width="20" d="M 988.750,562.455 993.182,549.239" />
<path fill="none" stroke="#000000" stroke-width="21" d="M 902.130,628.922 932.733,621.165 963.657,629.106 1012.123,632.786 1019.907,629.717 1058.816,614.377" />
<path fill="none" stroke="#000000" stroke-width="21" d="M 696.573,562.273 711.330,573.680 724.918,584.184" />
<path fill="none" stroke="#000000" stroke-width="8" d="M 620.733,536.723 632.349,548.174 653.453,568.981 692.026,580.753 724.918,584.184 752.251,602.203" />
<path fill="none" stroke="#000000" stroke-width="21" d="M 1060.257,582.354 1051.268,562.776 1049.148,558.858 1056.589,579.609 1043.789,604.989 1015.292,615.620" />
<path fill="none" stroke="#000000" stroke-width="2" d="M 658.046,552.219 638.399,533.195 635.673,505.340" />
<path fill="none" stroke="#000000" stroke-width="2" d="M 689.271,553.849 689.242,554.419 689.439,554.095" />
<path fill="none" stroke="#000000" stroke-width="21" d="M 694.341,544.779 689.271,553.849 689.439,554.095 693.606,560.195" />
<path fill="none" stroke="#000000" stroke-width="2" d="M 852.875,610.653 897.189,610.123 937.048,597.530 980.260,570.631 984.110,556.460 987.882,542.574 994.945,516.576 989.571,513.331 968.808,500.793 931.238,470.172 903.766,434.013 871.175,435.253 850.992,466.627 845.680,474.884 831.825,484.761 822.101,470.762 812.293,425.019 783.350,413.106 746.759,438.004 703.582,454.394 675.098,460.536 675.153,470.341 675.411,516.809 694.341,544.779 694.742,545.372 701.803,555.805 702.682,556.487 707.396,560.144 719.959,569.889 734.534,581.196 775.629,597.183" />
<path fill="none" stroke="#000000" stroke-width="8" d="M 675.153,470.341 674.951,470.184 643.487,461.265 617.462,489.456 616.661,494.663 618.841,537.650 632.349,548.174" />
<path fill="none" stroke="#000000" stroke-width="8" d="M 724.880,584.139 724.805,584.097" />
<path fill="none" stroke="#000000" stroke-width="8" d="M 762.125,617.304 750.591,598.236 728.060,584.855 725.015,584.248" />
<path fill="none" stroke="#000000" stroke-width="8" d="M 776.541,405.746 807.073,407.370 858.646,409.750 903.357,422.914 938.459,433.078 951.343,451.907 967.291,471.710 980.362,487.684 990.793,498.143 989.571,513.331" />
<path fill="none" stroke="#000000" stroke-width="8" d="M 860.632,650.357 873.862,646.430 875.812,645.851" />
<path fill="none" stroke="#000000" stroke-width="21" d="M 969.752,589.858 970.634,590.369 980.998,594.996 979.703,592.742 969.858,589.703" />
<path fill="none" stroke="#000000" stroke-width="8" d="M 987.882,542.574 988.594,548.310 988.730,549.402" />
<path fill="none" stroke="#000000" stroke-width="8" d="M 1019.907,629.717 1063.895,616.554 1080.632,576.447 1078.992,570.751 1064.424,535.080 1027.189,531.981 1001.828,538.610 988.594,548.310" />
</svg>
