!!!
%html
  %head
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
    %title = @title

  %body
    %div{:id=>"main"}
      = @title
      <a href="/image.zip">ここ</a>
              
